<div class="container" id="outline">
  <div class="row">
    <div class="col-md-4 bg-light" id="form">
      <app-quote-form (createQuote)="addNewQuote($event)"></app-quote-form>
    </div>
    <div class="col-md-8 bg-light" highlightquote>
      <h2 class="text-center">Quotes</h2>
      <hr>
      <ul>
        <div *ngFor="let userquote of userquote; let i=index">
          <app-quote [userquote]="userquote"></app-quote>

          <button (click)='toggleDetails(i)'>More Info on Quote</button>

          <app-aboutquote *ngIf='userquote.showDescription' [userquote]="userquote"  (isComplete) = 'quoteDelete($event,i)'></app-aboutquote>

          
          <!-- <div *ngIf="userquote.upvotes == highestVotes && userquote.upvotes >1; then textHighlight else noHighlight"> -->
          <!-- </div> -->
          <!-- <ng-template #textHighlight>

            <li appHighlightquote>

              <div class="card">
                <div class="card-body">
                  <figure>
                    from the quote component that shows the quote -->
                    
                    <!-- <hr> 
                   
                     importing quote details from about quote component 
                    <app-aboutquote *ngIf='userquote.showDescription' [userquote]="userquote"></app-aboutquote>
                  </figure>
                </div>
                <div class="card-footer text-success text-center">
                  Quote Added by <cite title="Source Title">-{{userquote.username}} on {{userquote.additionDate}}</cite>
                </div>

              </div>


            </li>



          </ng-template>

          <ng-template #noHighlight>
            <li>

              <div class="card">
                <div class="card-body">
                  <figure>
                    <!-- from the quote component that shows the quote 
                    <app-quote [userquote]="userquote"></app-quote>
                    <hr>
                    <!-- importing quote details from about quote component 
                    <app-aboutquote [userquote]="userquote"></app-aboutquote>
                  </figure>
                </div>
                <div class="card-footer text-success text-center">
                  Quote Added by <cite title="Source Title">-{{userquote.username}} on {{userquote.additionDate}}</cite>
                </div>

              </div>

            </li>

          </ng-template> --->
        </div> 
      </ul>



    </div>
  </div>
</div>
