<div class="container mt-4">
  <div class="row ms-3">
    <div class="col-md-4">
      <div class="mb-3">
        <label for="quote" class="form-label">Your Favourite Quote</label>
        <textarea class="form-control" id="quote-area" rows="5" placeholder="Tough times don't last"></textarea>
      </div>

      <div class="mb-3">
        <label for="author" class="form-label">Author's Name</label>
        <input type="text" class="form-control" id="authors-name" placeholder="Lurther King">
      </div>

      <div class="mb-3">
        <label for="username" class="form-label">Your Name</label>
        <input type="text" class="form-control" id="person-name" placeholder="John Doe">
      </div>

    </div>
    <div class="col-md-8">
      <h2 class="text-center">Quotes</h2>

      <ul *ngFor="let userquote of userquote">
        <li class="text-center">
          <div class="card">
             <div class="card-body" appHighlightquote>
            <figure>
              <blockquote class="blockquote">
                <p>{{userquote.quoteContent}}</p>
              </blockquote>

              <figcaption class="blockquote-footer">
                Author <cite title="Source Title">{{userquote.authorname}}</cite>
              </figcaption>

              <p><span>Inspirational {{ userquote.upvotes }}</span> -- <span> Subduing {{ userquote.downvotes }}</span>
              </p>
        
            </figure>
          </div>
          <div class="card-footer text-success">
            Quote Added by <cite title="Source Title">-{{userquote.username}}</cite>   
          </div>
          </div>
        </li>
      </ul>

    </div>
  </div>

</div>
